@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

@theme {
    --font-sans: 'Poppins', sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input {
    font-family: 'Poppins', sans-serif;
}